
<div class="layout">

    <div class="row">
        <div class="col">{{ page2
                inputName=inputName
                inputMail=inputMail
                inputLogin=inputLogin
                inputTel=inputTel
                inputPassword=inputPassword }}

            <p>кошмар</p>

            </div>
        <div class="col">{{ page2 }}</div>
    </div>

</div>


