
<div class="card"
     id="{{id}}" >
    <div class="photo">
        <img src="https://i.pinimg.com/736x/2c/c0/dc/2cc0dc75df0eaa79addcb669f3a523fb.jpg" alt="img">
    </div>
    <div class="info">
        <div class="dot">
            <div></div>
            <p>{{name}}</p>
        </div>

        <p> {{msg}}</p>
    </div>
</div>
