* {
	box-sizing: border-box;
}

.layout {
	width: 100%;
	height: 100vh;
	background-color: #f5f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	height: 70%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.link {
	color: gray;
	font-size: 14px;
	text-decoration: none;
}


