
<div class="layout">

    <div class="form">
        <h2>{{title}}</h2>

        <form>
            <div>{{{input1}}}</div>
            <div>{{{input2}}}</div>
        </form>
        <div>{{{btn}}}</div>

        <a href="" class="link">Create account</a>


    </div>
</div>
